.memul{
    list-style-type: circle;
}

.main-section{
    display: grid;
    grid-template-columns: auto auto auto;
}

.main-section .item{
    display: flex;
    margin-bottom: 20px;
}

#weight{
    font-weight: 700;
}

.centermid{
 font-size: xx-large
}

.mid{
    text-align: center;
}

.services{
    text-align: center;
}

.aboutus{
    display: grid;
    grid-template-columns: auto auto auto;
}