body {
  background-image: url("https://img.freepik.com/free-vector/flat-design-forest-landscape_23-2149155031.jpg?w=900&t=st=1697896115~exp=1697896715~hmac=e58f8ae218aa5664e0383c944671711a40e4f2215570587832f63b6e4ea17523");
  background-size: 1020px 650px;
  background-position: 20px 20px;
}
